spring:
  config:
    import: optional:file:./.env[.properties]

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  flyway:
    enabled: true
    baseline-on-migrate: true

app:
  http-jsonl:
    enabled: true

logging:
  pattern:
    console: "%level %msg%n"

mail:
  from: ${MAIL_FROM}

aws:
  access-key: ${AWS_ACCESS_KEY_ID}
  secret-key: ${AWS_SECRET_ACCESS_KEY}
  region: ${AWS_REGION:ap-northeast-2}

jwt:
  secret: ${JWT_SECRET}
  access-token-expiry: ${JWT_ACCESS_TOKEN_EXPIRY:900}
  refresh-token-expiry: ${JWT_REFRESH_TOKEN_EXPIRY:604800}
  cookie-domain: ${COOKIE_DOMAIN:}