services:
  mysql:
    image: mysql:8.0.43
    container_name: local-mysql
    restart: unless-stopped

    env_file:
      - .env

    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}

      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}

      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}

      # MYSQL_ROOT_HOST: "%"

    ports:
      - "${MYSQL_PORT}:3306"

    volumes:
      - mysql-data:/var/lib/mysql

    command:
      - "--character-set-server=utf8mb4"
      - "--collation-server=utf8mb4_0900_ai_ci"

    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-uroot", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 5s
      timeout: 3s
      retries: 20

volumes:
  mysql-data:
