<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="x-apple-disable-message-reformatting" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>회원가입 인증</title>
</head>

<body style="margin:0; padding:0; background:#f6f8fb;">
    <div>No where to go</div>
</body>

<div style="display:none; max-height:0; overflow:hidden; opacity:0; color:transparent;">
    회원가입을 완료하려면 이메일 인증을 진행해 주세요.
</div>
